<% content_for :title do %>Zabbix Trigger<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outwarn" data-view="Zabbix" data-title="warning" style="background-color:#96bf48;"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outavrg" data-view="Zabbix" data-title="average" style="background-color:#96bf48;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outhigh" data-view="Zabbix" data-title="high" style="background-color:#96bf48;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outdis" data-view="Zabbix" data-title="disaster" style="background-color:#96bf48;"></div>
    </li>
  </ul>
</div>


